name: Flutter CI

# This workflow is triggered on pushes to the repository.

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

# on: push    # Default will running for every branch.

jobs:
  build:
    # This job will run on ubuntu virtual machine
    runs-on: ubuntu-latest
    steps:
      # Setup Java environment in order to build the Android app.
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      # Setup the flutter environment.
      - uses: subosito/flutter-action@v1
        #with:
        # channel: 'beta' # 'dev', 'alpha', default to: 'stable'
        # flutter-version: '1.12.x' # you can also specify exact version of flutter

      # Go to project directory
      - run: cd weather_test

      # Generate .env
      - run: echo "${{ secrets.ENV_FILE }}" > .env
      # - run: |
      #     touch .env
      #     echo { >> .env
      #     echo \"BASE_URL\"=\"https://api.openweathermap.org/data/2.5/\", >> .env
      #     echo \"API_KEY\"=\"${{ secrets.API_KEY }}\" >> .env
      #     echo } >> .env
      #     cat .env

      # Get flutter dependencies.
      - run: flutter pub get

      # Check for any formatting issues in the code.
      - run: flutter format --set-exit-if-changed .

      # Statically analyze the Dart code for any errors.
      - run: flutter analyze .

      # Run widget tests for our flutter project.
      - run: flutter test

      # Build apk.
      - run: flutter build apk --release --dart-define-from-file=.env

      # Upload generated apk to the artifacts.
      - uses: actions/upload-artifact@v2
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
